<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" /><!-- 操作Oracle数据库时设置 -->
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- 驼峰命名的自动匹配 -->
		<setting value="true" name="cacheEnabled" /><!--开启二级缓存 -->
	</settings>
</configuration>
