<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.xhhy.dao.DeptDao">
    
    <resultMap id="mydept" type="com.xhhy.bean.DeptBean">
    <id column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="dept_code" jdbcType="INTEGER" property="deptCode" />
    <result column="dept_short_name" jdbcType="VARCHAR" property="deptShortName" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="parent_dept" jdbcType="INTEGER" property="parentDept" />
    <result column="dept_address" jdbcType="VARCHAR" property="deptAddress" />
    <result column="dept_intro" jdbcType="LONGVARCHAR" property="deptIntro" />
    <result column="dept_remark" jdbcType="VARCHAR" property="deptRemark" />
    <result column="dept_state" jdbcType="INTEGER" property="deptState" />
    <result column="dept_del" jdbcType="INTEGER" property="deptDel" />
  </resultMap>
  
	<select id="getAllDept" resultMap="mydept"  >
		select dept_id,dept_code,dept_short_name,dept_name,parent_dept,dept_address,dept_intro,dept_remark,dept_state,dept_del
		 from dept_tb  where dept_del=0  order by dept_id 
	</select>
	<select id="getDeptById" resultMap="mydept">
	    select dept_id,dept_code,dept_short_name,dept_name,parent_dept,dept_address,dept_intro,dept_remark,dept_state,dept_del
		 from dept_tb where dept_id=#{deptId }
	</select>
	
	<insert id="addDept" >
	    insert into dept_tb(dept_id,dept_code,dept_short_name,dept_name,parent_dept,dept_address,dept_intro,dept_remark,dept_state,dept_del)
	      values(0,#{deptCode},#{deptShortName},#{deptName},#{parentDept},#{deptAddress},#{deptIntro},#{deptRemark},#{deptState},0)
	</insert>
   <update id="deleteDeptById">
       update dept_tb set dept_del=1  where dept_id=#{deptId}
   </update>
  <!--  <update id="updateDept">
       update dept_tb set dept_short_name=#{db.deptShortName},dept_name=#{db.deptName},parent_dept=#{db.parentDept},dept_address=#{db.deptAddress},dept_intro=#{db.deptIntro},
       dept_remark=#{db.deptRemark},dept_state=#{db.deptState} where dept_id=#{db.deptId}
   </update> -->
	
</mapper>
