<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhhy.dao.ResumeDao">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	<resultMap type="com.xhhy.bean.ResumeBean" id="myresume">
		<id column="resume_id"  property="resumeId" />
		<result column="user_id"  property="userId" />
		<result column="name"  property="name" />
		<result column="resume_sex"  property="resumeSex" />
		<result column="resume_email"  property="resumeEmail" />
		<result column="resume_phone"  property="resumePhone" />
		<result column="local_address"  property="localAddress" />
		<result column="home_address"  property="homeAddress" />
		<result column="political"  property="political" />
		<result column="card_id"  property="cardId" />
		<result column="salary_require" javaType="String" property="salaryRequire" />
		<result column="graduate_school"  property="graduateSchool" />
		<result column="education"  property="education" />
		<result column="major"  property="major" />
		<result column="jobstate"  property="jobState" />
		<result column="fresh_student"  property="freshStudent" />
		<result column="work_year"  property="workYear" />
		<result column="person_resume"  property="personResume" />
		<result column="person_file"  property="personFile" />
		<result column="recommend_state"  property="recommendState" />
		<result column="recommend_time"  property="recommendTime" />
		<result column="recommend_idea"  property="recommendIdea" />
		<result column="interview_result" property="interviewResult" />
		<result column="interview_time"  property="interviewTime" />
		<result column="resolution_time"  property="resolutionTime" />
		
	</resultMap>
	<sql id="selectResume">
		SELECT
		RESUME_ID,USER_ID,NAME,RESUME_SEX,RESUME_EMAIL,RESUME_PHONE,LOCAL_ADDRESS,
		HOME_ADDRESS,POLITICAL,CARD_ID,SALARY_REQUIRE,GRADUATE_SCHOOL,EDUCATION,MAJOR,
		JOB_STATE,FRESH_STUDENT,WORK_YEAR,PERSON_RESUME,PERSON_FILE,RECOMMEND_STATE,
		RECOMMEND_TIME,RECOMMEND_IDEA,INTERVIEW_RESULT,INTERVIEW_TIME,RESOLUTION_TIME
		FROM RESUME_TB
	</sql>

   <select id="getResume" resultMap="myresume">
       <include refid="selectResume"/>
   </select>

</mapper>	
	