<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhhy.dao.SalaryManagerDao">
<!-- 数据库列名和bean的属性名称不相同  所以配置resultMap -->
<resultMap type="com.xhhy.bean.SalaryBean" id="Salary">
	<id column="SALARY_ID" jdbcType="INTEGER" property="salaryId"/>
	<result column="SALARY_CODE" jdbcType="VARCHAR" property="salaryCode"/>
	<result column="SALARY_NAME" jdbcType="VARCHAR" property="salaryName"/>
	<result column="SALARY_MAKER" jdbcType="VARCHAR" property="salaryMaker"/>
	<result column="SALARY_REGISTER" jdbcType="VARCHAR" property="salaryRegister"/>
	<result column="REGISTER_TIME" jdbcType="TIMESTAMP" property="registerTime"/>
	<result column="BASE_PAY" jdbcType="VARCHAR" property="basePay"/>
	<result column="ADD_PAY" jdbcType="VARCHAR" property="addPay"/>
	<result column="TRAFFIC_PAY" jdbcType="VARCHAR" property="trafficPay"/>
	<result column="PHONE_PAY" jdbcType="VARCHAR" property="phonePay"/>
	<result column="FOOD_PAY" jdbcType="VARCHAR" property="foodPay"/>
	<result column="HOUSE_PAY" jdbcType="VARCHAR" property="housePay"/>
	<result column="AWAY_PAY" jdbcType="VARCHAR" property="awayPay"/>
	<result column="OVERTIME_PAY" jdbcType="VARCHAR" property="overtimePay"/>
	<result column="SALARY_REMARK" jdbcType="VARCHAR" property="salaryRemark"/>
	<result column="SALARY_STATE" jdbcType="INTEGER" property="salaryState"/>
	<result column="SALARY_DEL" jdbcType="INTEGER" property="salaryDel"/>
	<result column="SALARY_2" jdbcType="VARCHAR" property="salary2"/>
	<result column="SALARY_3" jdbcType="VARCHAR" property="salary3"/>
	<result column="SALARY_4" jdbcType="VARCHAR" property="salary4"/>
	
</resultMap>
	
	<select id="findAll" resultMap="Salary" >
		select SALARY_ID,SALARY_CODE,SALARY_NAME,SALARY_MAKER,SALARY_REGISTER,REGISTER_TIME,BASE_PAY,ADD_PAY,
		TRAFFIC_PAY,PHONE_PAY,FOOD_PAY,HOUSE_PAY,AWAY_PAY,OVERTIME_PAY,SALARY_REMARK,SALARY_STATE,SALARY_DEL,
		SALARY_2,SALARY_3,SALARY_4 from SALARY_TB where SALARY_DEL=1
	</select>
	
	<insert id="addSalary" >
		<selectKey keyProperty="salaryId" order="BEFORE" resultType="int">
			select salary_seq.nextval from dual
		</selectKey>
		insert into salary_tb
		values(#{salaryId},#{salaryCode},#{salaryName},#{salaryMaker},#{salaryRegister},
		to_date(#{registerTime},'yyyy-mm-dd hh24:mi'),#{basePay},#{addPay},#{trafficPay},#{phonePay},#{foodPay},
		#{housePay},#{awayPay},#{overtimePay},#{salaryRemark},#{salaryState},
		#{salaryDel},#{salary2},#{salary3},#{salary4})
	</insert>
	
	<select id="prepareCode" resultType="int">
		select salary_code.nextval from dual
	</select>
</mapper>